<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="'Пользователь ' + ${user.getUsername()}"></title>

</head>
<body>
    <form th:action="@{/users/{id}/edit(id=${user.getId()})}" method="POST">
        <p th:text="'Id: ' + ${user.getId()}">id</p>
        <input type="text" name="username" th:value="${user.getUsername()}">
        <div th:each="role: ${roles}">
            <label th:text="${role}" th:for="${role}"></label>
            <input type="checkbox" th:name="${role}" th:checked="${user.getRoles().contains(role)}">
        </div>
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>