<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Пользователи</title>
</head>
<body>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Выйти">
    </form>

    <div th:if="${messageFindByUsername}">
        <p th:text="${messageFindByUsername}"></p>
    </div>

    <div>
        <form method="POST" action="/users/filter">
            <input type="text" name="username" placeholder="Имя пользователя">
            <button type="submit">Найти по имени пользователя</button>
        </form>
    </div>

    <div th:each="user: ${users}">
        <hr/>
        <p th:text="${user.getId()}">id</p>
        <p th:text="${user.getUsername()}">text</p>
        <p th:text="${user.isActive()}">tag</p>
        <div th:each="role: ${user.getRoles()}">
            <p th:text="${role}"></p>
        </div>
        <p><a th:href="@{/users/{id}(id=${user.getId()})}">Отредактировать</a></p>
    </div>
</body>
</html>